.flex-row {
    display: flex;
    flex-direction: row;    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.point-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}